<div id="<%= dom_id grid %>">
  <p>
    <strong>Make:</strong>
    <%= grid.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= grid.model %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= grid.color %>
  </p>

</div>
